<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styling.css') }}">
{% block body %}


<div class=btn-set>
  <form action="/inventory/get-parts/5/1" method="GET">
    <button>Send Parts</button>
  </form>
  <form action="/inventory" method="POST">
    <button>Receive Phones</button>
  </form>
  <form action="/inventory/send" method="GET">
    <button type="submit">Send Broken Phones</button>
  </form>
  <form action="/inventory/phones/order" method="GET">
    <button type="submit">Create New Phones</button>
  </form>
  <form action="/inventory/models/all" method="GET">
    <button type="submit">List All Models</button>
  </form>
  <form action="/inventory/models/2" method="GET">
    <button>Display Specific Model</button>
  </form>
  <form action="/inventory/phone/return/1" method="POST">
    <button>Mark Returned Phone</button>
  </form>
  <form action="/inventory/phones/1" method="GET">
    <button>Return Specific Phone</button>
  </form>
</div>

<!--Table containing a broad overview of each type of phone in stock, each types price, and each types condition.-->
	<table style="width:100%">
	<div class=t-h>Phone Table</div>
  <tr>
    <th>Phone Type</th>
    <th>Price</th> 
    <th>New In Stock</th> 
    <th>Referbished In Stock</th> 
    <th>Broken In Stock</th> 
  </tr>
  {% for n in table1data %}
  <tr>
    {% for data in n %}
    <td>{{data}}</td>
    {% endfor %}
  </tr>
 {% endfor %}
 </table>

<!--A table showing how many available parts there are for each phone type-->
	<table style="width:100%">
	<div class=t-h>Parts Table</div>
  <tr>
    <th>Phone Type</th>
    <th>Body</th> 
    <th>Screen</th> 
    <th>Battery</th> 
  </tr>
  {% for n in table2data %}
  <tr>
    {% for data in n %}
    <td>{{data}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
	</table>

  <!--A table showing all the available phones-->
  <table style="width:100%">
  <div class=t-h>Available Phones</div>
  <tr>
  <tr>
    <th>Phone Type</th>
    <th>Serial Number</th> 
    <th>Phone Status</th> 
  </tr>
  {% for n in table3data %}
  <tr>
    {% for data in n %}
    <td>{{data}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </table>

{% endblock %}
</html>